name: Build and test

on:
  push:
    branches: 
      - '**'

jobs:
  tests:
    if: contains(github.event.head_commit.message, '[run-tests]')
    strategy:
      matrix:
        python-version: ["3.9"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install 
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]
        
    - name: Run tests
      run: |
        python tests/runtests.py
