name: Upload package to TestPyPI

on:
  push:
    branches:
      - '**'

jobs:
  make_sdist:
    if: contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    name: Make SDist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install deps
        run: python -m pip install build twine

      - name: Build SDist
        run: python -m build --sdist

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
          retention-days: 1

      - name: Check metadata
        run: twine check dist/*

  build_wheels:
    if: contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        env:
          CIBW_BUILD: "cp313-*"
          CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_*"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_ARCHS_LINUX: "auto"
        run: python -m cibuildwheel --output-dir wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl
          retention-days: 1

  upload_all:
    if: contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist

    - name: Flatten dist directory
      run: |
        find dist -mindepth 2 -type f -exec mv -t dist {} +
        find dist -mindepth 1 -type d -empty -delete

    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@v1.9.0
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        skip-existing: true