name: Upload package to TestPyPI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
      - release/**

jobs:
  make_sdist:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    name: Make SDist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install deps
        run: python -m pip install build twine

      - name: Build SDist
        run: python -m build --sdist

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
          retention-days: 7

      - name: Check metadata
        run: twine check dist/*

  build_wheels:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        env:
          CIBW_BUILD: "cp313-*"
          CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_*"
          CIBW_ARCHS_MACOS: "arm64"
          CIBW_ARCHS_LINUX: "auto"
          CIBW_ENVIRONMENT_MACOS: "MACOSX_DEPLOYMENT_TARGET=11.0"
          CIBW_BEFORE_BUILD: "python -m pip install --upgrade setuptools wheel"
        run: python -m cibuildwheel --output-dir wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl
          retention-days: 7

  upload_all:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[upload-to-test-pypi]')
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    steps:

    - uses: actions/download-artifact@v2
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.9.1
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/