name: Upload package to Pypi

on:
  push:
    branches:
      - main
      - 'release*'

jobs:
  make_sdist:
    if: contains(github.event.head_commit.message, '[upload-to-pypi]')
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install deps
      run: python -m pip install build twine

    - name: Build SDist
      run: python -m build --sdist

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz
        
    - name: Check metadata
      run: twine check dist/*

  build_wheels:
    if: contains(github.event.head_commit.message, '[upload-to-pypi]')
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        env:
          CIBW_BUILD: "cp38-* cp39-* cp310-*"
          CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_*"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
        run: python -m cibuildwheel --output-dir wheelhouse 

      - uses: actions/upload-artifact@v2
        with:
          path: wheelhouse/*.whl

  upload_all:
    if: contains(github.event.head_commit.message, '[upload-to-pypi]')
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    steps:

    - uses: actions/download-artifact@v2
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.4.1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}